/New folder
/Sockets_Basics.py
/Sockets_Basics_CLIENT_A.py
/Sockets_Basics_CLIENT_A_DESKTOP-LV42PFC_Feb-18-205408-2023_Conflict.py
/Sockets_Basics_HOST_DESKTOP-LV42PFC_Feb-18-203130-2023_Conflict.py
/Sockets_Basics_HOST_DESKTOP-LV42PFC_Feb-18-205409-2023_Conflict.py
/TCP_Client_A.py
/TCP_Host.py